

.myCookieWarningClass {
	box-shadow: 0px 0px 10px 1px #101010;
	border-radius: 5px;
	border: 1px solid #a1a1a1;
	margin: 30px;
}
#cookieWarnBox {
	color:white;
}
#output {
    color: orange;
    letter-spacing: 2px;    
}

